.btnOps {
  padding: 0.1rem 0.6rem;
  margin: 0.2rem;
  font-size: 24px;
}

.hr__line {
  width: 30%;
  background-color: #adadad;
  height: 1.5px;
  margin: 0 auto;
  margin-top: 5px;
}

.restore__btn {
  padding: 0.2rem 0.6rem;
}
