* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
}

body,
html {
  width: 100%;
  height: 100%;
}

input {
  outline: none;
  text-align: start;
  padding: 7px 16px;
}

.input__div :first-child {
  margin-bottom: 0.5rem;
}

.btn__group {
}

button {
  padding: 0.2rem 0.5rem;
  margin: 1rem 0.5rem 0 0.5rem;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 0.9rem;
}

button:hover {
  background-color: #575555;
}

.reset {
  background-color: red;
  border: none;
}
.reset:hover {
  background-color: rgb(243, 93, 93);
}

.hr__line {
  width: 30%;
  padding: 1px;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: black;
}
